.App {
  text-align: center;
}

.ListItem {
  display: grid;
  grid-template-areas: "cover songinfo";
  background-color: blue;
}

#cover {
  grid-area: cover;
  background-color: black;
}

#songinfo {
  grid-area: songinfo;
  background-color: red;
}